<!--로그인 하는 화면-->

<h2>#로그인_화면</h2>
<form action="/sessions/create" method="POST">
    <input type="email" name="myid" placeholder="로그인" />
    <input type="password" name="password" placeholder="패스워드" />
    <button type="submit" class="submit" value="로그인">로그인</button>
</form>