<form action="/posts/update/<%= @post.id%>" method="POST">
    <!--@post.id로! -->
    <!--url에 숨겨서 보이도록-->
    <!--이 곳에서 입력한 내용을 posts-create파일로 넘어감-->
    <!--제목, 내용, 버튼 만들기-->
    <input type="text" name="post_title" value="<%=@post.title%>">
    <br>
    <input type="text" name="post_content" placeholder="내용도 입력해주세요 :)" value=<%=@post.content%>>
    <br>
    <button type="submit" value="수정완료">수정완료</button>
</form>
