<!--게시판 수정하기-->

<h2>#수정하기</h2>

<form action="/posts/update/<%= @post.id%>" method="POST">
    <textarea type="text" name="post_title" value="<%=@post.title%>" placeholder="수정할 제목을 입력해주세요 :)"></textarea>
    <br>
    <textarea type="text" name="post_content" placeholder="수정할 내용도 입력해주세요 :)" value="<%=@post.content%>"></textarea>
    <br>
    <button type="submit" class="submit">수정완료</button>
</form>
