<%= stylesheet_link_tag "posts.scss" %>
<body>
<h1>너나들이</h1>

<p><strong>*너나들이: </strong></p>
<p>"서로 ‘너’, ‘나’ 하고 부르며 터놓고 허물없이 지내는 사이"를 지칭하는 순우리말</p>

<h3><strong>'너나들이'</strong>는 여러분의 소소한 일상, 추억, 맛집, 고민 등을 공유하고 이야기하는 공간입니다.</h3>
<h3>자유롭게 둘러보시다 가시기를 바랍니다~:D</h3>

<br>

<h3><a class="one" href="/posts/write">게시판 둘러보기</a></h3>
</body>
