<h2>#게시글_상세보기</h2>
<h3 class="tit">제목: <%= @post.title %></h3>
<hr>
<h3 class="con">내용: <%= @post.content %></h3>

<form action="/comments/create" method="POST"><!--url에 숨겨서 보이도록-->
    <!--이 곳에서 입력한 내용을 posts-create파일로 넘어감-->
    <!--제목, 내용, 버튼 만들기-->
    <input type="hidden" name="post_id" value="<%=@post.id%>">
    <!--몇 번째 게시글에 해당하는 댓글인지 알기 위한 코드-->
    <input class="comment" type="text" name="comment_content" placeholder="댓글을 달아주세요!">
    <br>
    <input class="submit" type="submit" value="작성하기">
</form>

<h4>댓글목록</h4>
<% @comments.each do |c| %>
  <p class="list"><%=c.content%></p>
<%end%>
