<h2>#새로운_글_작성</h2>
<form action="/posts/create" method="POST"><!--url에 숨겨서 보이도록-->
    <!--이 곳에서 입력한 내용을 posts-create파일로 넘어감-->
    <!--제목, 내용, 버튼 만들기-->
    <input class="title" type="text" name="post_title" placeholder="제목을 써주세요 :)">
    <br>
    <input class="content" type="text" name="post_content" placeholder="내용도 입력해주세요 :)">
    <br>
    <input class="submit" type="submit" value="글 올리기">
</form>

<hr>

<% @posts.each do |p| %><!--여기에는 %= 하는 거 아니다-->
    <br>
   
    <a class="title" href="/posts/show/<%=p.id%>"><%=p.title%></a>
    <!--p에는 각각의 행이 담겨있다-->
   
    <br>

    <form action="/posts/destroy/<%= p.id %>" method="POST">
    <!--id는 기본적으로 레일즈가 갖고 있는, 배열방번호 같은-->
        <input  class="submit" type="submit" value="삭제">
    </form>
    
    <br>
    
    <hr>
<% end %>
