h2 {
    color: white;
    padding-top: 30px;
    padding-bottom: 190px;
}

.submit {
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    font-weight: bold;
}
// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
